.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #f1f4f7;
  grid-template-columns: 55% 45%;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
}
